@model Food
@{
    ViewData["Title"] = "FoodUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Food Update Page</h2>
<br />

<form method="post" asp-controller="Food" asp-action="FoodUpdate" enctype="multipart/form-data">
    <input type="hidden" name="FoodId" value="@Model.FoodId" />
    <div class="form-group">
        <label asp-for="FName"> <b>Food Name</b></label>
        <input asp-for="FName" class="form-control" value="@Model.FName" />
        <span asp-validation-for="FName" class="text-danger"></span>

    </div>


    @Html.Label("Category")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.category, new { @class = "form-control" })

    <br />

    <div class="form-group">
        <label asp-for="FStock"><b>Stock</b> </label>
        <input asp-for="FStock" class="form-control" value="@Model.FStock" />
        <span asp-validation-for="FName" class="text-info"></span>

    </div>

    <div class="form-group">
        <label asp-for="FPrice"><b>Price</b> </label>
        <input asp-for="FPrice" class="form-control" value="@Model.FPrice" />
        <span asp-validation-for="FPrice" class="text-info"></span>

    </div>
    <div class="form-group">
        <label asp-for="FImageUrl"> <b>Resim:</b></label>
        <input type="file" name="file" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FDescription"><b>Description</b> </label>
        <textarea asp-for="FDescription" class="form-control" value="@Model.FDescription"></textarea>
        <span asp-validation-for="FDescription" class="text-info"></span>

    </div>





    <button type="submit" href="/Food/Index/" class="btn btn-outline-primary"><b>Sumbit</b></button>
</form>





