@model IPagedList<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Category List</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Delete/Update</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CName</td>
            <td>@item.CDescription</td>
            <td>@item.CStatus</td>
            <td>
            <a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Delete</a>
            <a href="/Category/CategoryUpdate/@item.CategoryId" class="btn btn-success">Update</a>
            </td>
        </tr>
    }
</table>
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<a href="/Category/CategoryAdd/" class="btn btn-primary">Add New Category</a>
